bottle
uvicorn
websockets
fastapi
sqlalchemy
sqlalchemy_utils
transformers==4.36.0
faiss-cpu
sentence_transformers
langchain
pdfplumber
InstructorEmbedding
tiktoken
nltk
unstructured
jieba
numpy
requests
cpm_kernels
chardet
rwkv
pyyaml
openai
tiktoken
loguru
transformers_stream_generator